body {
  background: red !important;
}

.item {                   
  background-color: darkgrey;   
  padding: 20px;      
  border-radius: 10px;   
}

.card {
  background-color: darkgray;
  padding: 40px;
  border-radius: 10px;
  flex-direction: row;   
  flex-wrap: wrap;        
  gap: 20px;              
}

.shop {
  color: black;
  text-align: center;
  font-family: "Arial Black", sans-serif;
}


.image-child {
  max-width: 100%;
  height: auto;
  display: block;
  align-items: center;
}
