.item {                   
  background-color: lightgray;   
  padding: 20px;      
  border-radius: 10px;
  text-align: center;      
}

.window1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.card {
  background-color: aliceblue;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  display: flex;         
  flex-direction: row;   
  flex-wrap: wrap;        
  gap: 20px;              
  justify-content: center
}
}

.card h1 {
  color: black;
}

.shop {
  color: white;
  text-align: center;
  font-family: "Arial Black", sans-serif;
}

.item-child {
  max-width: 100%;
  height: auto;
  display: block;
}
